@{
    Layout = "Admin/_MyLayout";
}


<div class="container">

    <div class="row">

        <div class="col-12">

            <h1 class="py-5">PIzzas List</h1>

            <table class="table table-dark table-hover table-bordered border-success caption-top">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price $</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><img src="~/img/margherita.jpg" width="100" /></td>
                        <td>Margherita</td>
                        <td>Pomodoro, mozzarella, basilico</td>
                        <td>5.99</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><img src="~/img/bufala.jpg" width="100" /></td>
                        <td>Bufala</td>
                        <td>Bufala, pomodorini, basilico</td>
                        <td>7.00</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><img src="~/img/diavola.jpg" width="100" /></td>
                        <td>Diavola</td>
                        <td>Pomodoro, mozzarella, salame piccante</td>
                        <td>8.00</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><img src="~/img/capricciosa.jpg" width="100" /></td>
                        <td>Capricciosa</td>
                        <td>Pomodoro, mozzarella, carciofi, olive, prosciutto cotto, basilico</td>
                        <td>7.50</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td><img src="~/img/wurstel-patatine.jpg" width="100" /></td>
                        <td>Americana</td>
                        <td>Pomodoro, mozzarella, patatine fritte, wurstel</td>
                        <td>6.50</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><img src="~/img/quattro_formaggi.jpg" width="100" /></td>
                        <td>Quattro Formaggi</td>
                        <td>Mozzarella, gorgonzola, fontina, parmigiano</td>
                        <td>6.00</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td><img src="~/img/ortolana.jpg" width="100" /></td>
                        <td>Ortolana</td>
                        <td>Mozzarella, pomodorini, zucchine, melanzane, peperoni</td>
                        <td>7.00</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
