@{
    Layout = "_UserLayout";
}

<div class="container">

    <div class="gap-4 d-flex justify-content-center row">

        <div class="card" style="width: 18rem;">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Margherita</h5>
                <p class="card-text">Pomodoro, mozzarella, basilico</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price: </strong>6.00 $</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Margherita</h5>
                <p class="card-text">Pomodoro, mozzarella, basilico</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price: </strong>6.00 $</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Margherita</h5>
                <p class="card-text">Pomodoro, mozzarella, basilico</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price: </strong>6.00 $</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Margherita</h5>
                <p class="card-text">Pomodoro, mozzarella, basilico</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price: </strong>6.00 $</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Margherita</h5>
                <p class="card-text">Pomodoro, mozzarella, basilico</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price: </strong>6.00 $</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Margherita</h5>
                <p class="card-text">Pomodoro, mozzarella, basilico</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price: </strong>6.00 $</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/margherita.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Margherita</h5>
                <p class="card-text">Pomodoro, mozzarella, basilico</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Price: </strong>6.00 $</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>

    </div>
</div>